* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
}

#root {
  /* Prevents scrollbars when side view animates off-screen */
  overflow: hidden;
  height: 100dvh;
}

.fullscreen {
  display: flex;
  height: 100%;
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
  .side-view {
    /* Hide side view by default on smaller screens */
    margin-right: -390px;
  }
}



.copyright-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
  color: #b0b0b0;
  margin: 0;
}
